<header>
  <div class="header-logo">
    <%= link_to "MiniTweet", root_path %>
  </div>
  <ul class="header-menus">
    <li><%= link_to "MiniTweetについて", about_path %></a></li>
    <li><%= link_to "投稿一覧", posts_index_path %></li>
    <li><%= link_to "新規投稿", posts_new_path %></li>
  </ul>
</header>